*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# API key Firebase
# Download file -> https://drive.google.com/file/d/1Rw8H43oHsLuJpmbqfGcaJW6MS2OQB_2w/view?usp=sharing
google-services.json